.create-password-wrapper form {
    display: flex;
    flex-direction: column;
    max-width: 20em;
}

.create-password-wrapper form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2px;
    padding-bottom: 2px;
}

.create-password-wrapper form label input {
    width: 98%;
}